QUES-1

Wap to print first 10 natural number?

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

QUES-2

Wap to print first N natural number?

In [2]:
n=int(input("Enter the number"))
for i in range(1,n+1):
    print(i)

Enter the number10
1
2
3
4
5
6
7
8
9
10

QUES-3

Wap to print first N natural number in reverse oreder?

In [4]:
n=int(input("Enter the number"))
for i in range(n,0,-1):
    print(i)

Enter the number10
10
9
8
7
6
5
4
3
2
1

QUES-4

Wap to print sum of first N natural number?

In [7]:
n=int(input("Enter the number"))
b=0
for i in range(1,n+1):
    b=b+i
print(b)

Enter the number20
210

QUES-5

Wap to print sum of square of first N natural number?

In [10]:
n=int(input("Enter the number"))
b=0
for i in range(1,n+1):
    b=b+i**2
print(b)

Enter the number10
385

QUES-6

Wap to print sum of cube of First N natural number?

In [11]:
n=int(input("Enter the number"))
b=0
for i in range(1,n+1):
    b=b+i**3
    
print(b)

Enter the number3
36

QUES-7

Wap to print even number  from 1 to N ?

In [13]:
n=int(input("Enter the number"))

for i in range(1,n+1):
    if i%2==0:
        print("Even number is --  ",i)

Enter the number10
Even number is --   2
Even number is --   4
Even number is --   6
Even number is --   8
Even number is --   10

QUES-8

Wap to count even number  from 1 to N?

In [27]:
n=int(input("Enter the number"))
count=0
for i in range(1,n+1):
    if i%2==0:
        count=count+1
print("total even number is --  ",count)

Enter the number10
total even number is --   5

QUES-9

Wap to sum of first N even munber?

In [28]:
n=int(input("Enter the number"))
total_sum=0
for i in range(1,n+1):
    if i%2==0:
        total_sum=total_sum+i
print("total even number sum is --  ",total_sum)

Enter the number10
total even number sum is --   30

QUES-10

Wap to print odd number from 1 to N ?

In [23]:
n=int(input("Enter the number"))

for i in range(1,n+1):
    if i%2!=0:
        print("odd number is --  ",i)

Enter the number10
odd number is --   1
odd number is --   3
odd number is --   5
odd number is --   7
odd number is --   9

QUES-11

Wap to count odd number from 1 to N?

In [31]:
n=int(input("Enter the number"))
count=0
for i in range(1,n+1):
    if i%2!=0:
        count=count+1
print("total odd number is --  ",count)

Enter the number10
total odd number is --   5

QUES-12

Wap to sum of first N odd munber?

In [26]:
n=int(input("Enter the number"))
total_sum=0
for i in range(1,n+1):
    if i%2!=0:
        total_sum=total_sum+i
print("total odd number sum is --  ",total_sum)

Enter the number2
total odd number sum is --   1

QUES-13

Wap to print odd and even number from  1 to 30 using loop?

In [36]:
n=30

for i in range(1,n+1):
    if i%2==0:
        print("Even number",i)
        
    else:
        print("odd number",i)

odd number 1
Even number 2
odd number 3
Even number 4
odd number 5
Even number 6
odd number 7
Even number 8
odd number 9
Even number 10
odd number 11
Even number 12
odd number 13
Even number 14
odd number 15
Even number 16
odd number 17
Even number 18
odd number 19
Even number 20
odd number 21
Even number 22
odd number 23
Even number 24
odd number 25
Even number 26
odd number 27
Even number 28
odd number 29
Even number 30

Ques-14

Wap to print odd and even number  using user input?

In [37]:
n=int(input("Enter the number"))
for i in range(1,n+1):
    if i%2==0:
        print("even number ",i)
    else:
        print("odd number ",i)

Enter the number10
odd number  1
even number  2
odd number  3
even number  4
odd number  5
even number  6
odd number  7
even number  8
odd number  9
even number  10