In [1]:
#QUES--Creating empty tuple

x=()

In [2]:
x

()

In [3]:
type(x)

tuple

In [4]:
#QUES-- Creating single element
x=(2,)
x

(2,)

In [5]:
type(x)

tuple

In [6]:
#Wap to add an element in tuple

x=(3,4,6,8,1)
y=(100,)
z=x+y
print(z)

(3, 4, 6, 8, 1, 100)

In [7]:
#Concatenation in tuple

a=(23,90,33)
b=(1,9,0)
c=a+b
print(c)

(23, 90, 33, 1, 9, 0)

In [8]:
#Repation in Tuple

a=(1,3,4)
a*2

(1, 3, 4, 1, 3, 4)

In [9]:
a*3

(1, 3, 4, 1, 3, 4, 1, 3, 4)

In [10]:
#QUES--> Convert a string in to tuple?

a="saurabh"
z=tuple(a)
z

('s', 'a', 'u', 'r', 'a', 'b', 'h')

In [11]:
#QUES-- Wap to create a tuple

x=1,3,4
x

(1, 3, 4)

In [12]:
type(x)

tuple

In [14]:
#QUES Wap to create a tuple into string?

a=(4677)
z=str(a)
z

'4677'